{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <div class="cont">

            <div class="desc">
                Мирский замок - это величественная средневековая крепость, расположенная в Беларуси. Его история насчитывает более 500 лет и связана с судьбами влиятельных аристократических родов, таких как Ильиничи и Радзивиллы.
                Замок впечатляет своей архитектурой в стиле поздней готики и ренессанса. Его массивные каменные стены, башни и бастионы создают неприступный облик, в то время как внутренние дворы и помещения отличаются изысканной отделкой. Особого внимания заслуживает Парадный зал с роскошным потолочным сводом и камином, украшенным гербами владельцев.
                
                На протяжении веков Мирский замок выполнял функции как оборонительного, так и парадного сооружения. Он был свидетелем многих исторических событий, осад и политических интриг. Сегодня это один из самых впечатляющих памятников архитектуры Беларуси, внесенный в Список Всемирного наследия ЮНЕСКО.
                
                Посетители могут прогуляться по замковым коридорам, полюбоваться великолепными интерьерами и представить, как здесь жили знатные владельцы. Мирский замок - это настоящее окно в средневековую историю, впечатляющее своим величием и загадочностью.
            </div>
        </div>
    </main>
{% endblock  %}